

    @import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

    *{
        padding: px;
        border: 5px;
        margin: 5px;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    header{
        background-color: rgb(106, 9, 9);
        padding: 20px;
        border-bottom: 5px solid orange;
    }
        header div {
            text-align: center;
        }
        
    header div a {

        color: white;
        font-size: 60px;
        font-family:"Unkempt", cursive;
        line-height: normal;
        margin: 16px;
        text-decoration: none;
        transition: color 800ms;

        }
    
        header div a:hover{
            color: white;
            transition: color 800ms;
        }